affine==2.3.0
attrs==19.3.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
descartes==1.1.0
Fiona==1.8.13.post1
geopandas==0.8.0
kiwisolver==1.1.0
matplotlib==3.0.3
munch==2.5.0
numpy==1.18.5
pandas==0.25.3
pkg-resources==0.0.0
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz==2020.1
rasterio==1.1.5
Shapely==1.7.0
six==1.15.0
snuggs==1.4.7
